/* TODO media queries on 600px */

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    height: 100vh;
  }

  .container {
    max-width: 100vw;
  }

  .to-do-list-section {
    padding: 0;
  }

  .to-do-list-container {
    margin: 0;
    box-shadow: none;
    border-radius: 0;
  }

  .header {
    border: none;
    border-radius: 0;
    box-shadow: inset 0 0 0 0.4rem rgb(0, 86, 245, 0.3);
  }

  .heading__primary {
    border: none;
    box-shadow: 0 4px 2px -2px rgb(0, 86, 245, 0.3);
  }

  .to-do-list {
    height: 100vh;
    border: none;
    box-shadow: inset 0 0 0 0.4rem rgb(0, 86, 245, 0.3);
  }

  .todo__elem_box {
    gap: 2.4rem;
  }

  .btn__add {
    padding: 2rem;
  }

  .form__input {
    padding: 2rem;
  }

  .btn {
    padding: 1.4rem;
  }

  .btn__icon {
    font-size: 2.4rem;
  }
}

@media (max-width: 34em) {
  html {
    /* Percentage of user's browser font-size setting */
    /* This is 10px */
    font-size: 55%;
  }

  .btn {
    padding: 1.4rem;
  }

  .btn__icon {
    font-size: 1.8rem;
  }
}
